/* src/styles/AdminDashboard.css */

.admin-dashboard-container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #234e70;
    margin-bottom: 20px;
}

.admin-overview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.overview-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc(25% - 20px);
    text-align: center;
}

.overview-card h2 {
    font-size: 1.5rem;
    color: #3b5998;
    margin-bottom: 10px;
}

.overview-card p {
    font-size: 2rem;
    color: #234e70;
}

.admin-navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.admin-navigation li {
    margin: 0 10px;
}

.admin-navigation a {
    text-decoration: none;
    color: #2a4887;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.admin-navigation a.active-link {
    color: #3b5998;
}

.admin-navigation a:hover {
    color: #3b5998;
}

@media (max-width: 768px) {
    .overview-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .overview-card {
        width: 100%;
    }

    .admin-navigation ul {
        flex-direction: column;
        align-items: center;
    }

    .admin-navigation li {
        margin-bottom: 10px;
    }
}
