/* src/styles/ViewJobOffers.css */

.job-offers-container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #234e70;
    margin-bottom: 20px;
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.job-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 45%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.job-card:hover {
    transform: scale(1.05);
}

.job-card h3 {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    color: #3b5998;
}

.job-card p {
    margin: 5px 0;
    font-size: 1rem;
    color: #6a7a8c;
}

.job-details {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
}

.job-details h2 {
    font-size: 2rem;
    color: #3b5998;
    margin-bottom: 10px;
}

.job-details p {
    margin: 10px 0;
    font-size: 1rem;
    color: #6a7a8c;
}

.job-details button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #f0a500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.job-details button:hover {
    background-color: #e08900;
}
